<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Forever a Centurion</title>
    <link rel="shortcut icon" href="/static/img/forevercenturion.ico" type="image/x-icon">
    <link href="/static/css/resets.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/master.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="page">
        <header>
        <div class="headerContent">
        </div>
    </header>
        <section id="main">
            
        </section>
        <footer>
    <div class="footerContent">
    <span class="footerCopyright">
        <!-- Copyright <a href="http://www.bbqcode.com">BBQCode Coop</a>, 2011 -->
        </span>
        </div>
        </footer>
    </div>
</body>
</html>
