@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}
@section Head
{
    <script type="text/javascript" src="@Url.Content("~/Content/Js/Core/centurion.mobile.js")"></script>
}
<div class="start" id="gameStarter">
    <h1>
        Let's start this</h1>
    <div data-role="fieldcontain">
        <label for="txtNbShotsStart">
            Starting shots:</label>
        <input type="range" name="txtNbShotsStart" id="txtNbShotsStart" value="0" min="0"
            max="100" />
    </div>
    <a href="#start" data-role="button" data-icon="check" id="aStart">Start the game!</a>
    <p style="text-align: center;">
        No idea what this is? See the <a href="#help" data-rel="dialog">help page</a>.</p>
</div>
<div class="game" id="gameStarted" style="display: none;">
        <span id="timeRemaining">
        </span>
        <span id="timeRemainingLabel">
            seconds. until next shot</span>

 
</div>
@section BelowMain
{

}
@section Footer
{
<div class="ui-bar ui-bar-a ui-grid-a" id="shotsBar">
	 <h1 id="shotsTaken" class="ui-block-a">
        </h1>
        <h1 id="shotsToTake" class="ui-block-b">
        </h1>
</div>
    <label for="pauser" class="ui-hidden-accessible" data-theme="a">
        Game started/off</label>
    <select name="pauser" id="pauser" data-role="slider" data-theme="a">
        <option value="off">Off</option>
        <option value="on">On</option>
    </select>
}
<audio id="song" src="@Url.Content("~/Content/Sounds/bell.wav")">
</audio>